body {
	margin: 0;
	padding: 0;
}
/*================
Подключили шрифт
==================*/
@font-face {
	font-family: "Raleway";  
	src: url("font/Raleway-VariableFont_wght.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Playfair Display";  
	src: url("font/PlayfairDisplay-Black.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}

/*Что бы изменить шрифт в блок добавить 

font-family: "Raleway"; */
.logo {
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	height: 85px;
}
.logo-header {
	width: 174px;
	height: 57px;
	float: left;
	margin-top: 13px;
}
.logo-header img {
	width: 100%;
}
.container {
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}
.contacts {
	float: right;
	margin-top: 30px;
}
.contacts div {
  	float: left;
  	margin-right: 70px;
  	font-family: "Raleway"; 
}
.contacts div:last-child {
	margin-right: 0;
}
.contacts div img {
	margin-right: 8px;
	vertical-align: middle;
}
/*=======================
Navigation
=========================*/
.nav {
	height: 70px;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: "Raleway";
}
.nav ul li:last-of-type {
	margin-right: 0;
}
.nav ul li {
	float: left;
	margin-right: 90px;
	margin-top: 26px;
}
.nav ul li a {
	text-decoration: none;
	color: #333333;
}
#burger-button {
	width: 50px;
	height: 50px;
	border: none;
	background: white;
	font-size: 35px;
	cursor: pointer;
	float: right;
	display: none;
}
.burger-content {
	width: 200px;
	height: 100%;
	background: rgba(117, 117, 117, 0.7);
	right: 0;
	position: fixed;
	top: 0;
	margin: 0;
	z-index: 1000;
	padding: 25px;
	display: none;
}
.burger-content li {
	list-style: none;
	margin: 10px 0px 0px 0px;
	margin: 10px auto;
	text-align: center;
}
.burger-content li a {
	text-decoration: none;
	color: black;
}
.close-menu {
	font-size: 30px;
}
.burger-content button {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 30px;
    border: none;
    background: transparent;
}
.burger-content button {
	margin-top: 10px;
}
.burger-content .btn:before {
	content: "";
	width: 100%;
	height: 2px;
	background: black;
	display: block;
	left: 0;
	margin-bottom: 18px;
}
.btn {
	width: 170px;
	height: 35px;
	background: white;
	border: 2px solid #909090;
	margin-top: 17px;
	margin-left: 80px;
	cursor: pointer;
}
.optic {
	width: 25px;
	height: 25px;
	margin-top: 22px;
	float: right;
	background: white;
	border: none;
	padding: 0;
	cursor: pointer;
}
.main section {
	height: 100%;
	margin: 0 auto;
}
/*==================
main-header
====================*/
.header-bg {
	width: 100%;
	position: relative;
}
.main-header {
	position: relative;
}
.main-header img {
	width: 100%;
	height: 642px;
}
.header-gradient {
	background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
}

.header-promo {
	position: absolute;
	top: 170px;
	width: 100%;
	margin: 0 auto;
}

.main-header h1 {
	position: relative;
	margin: 0;
	text-align: center;
	color: white;
	font-size: 60px;
	font-family: "Playfair Display";
}
.main-header button {
	width: 270px;
	height: 50px;
	background: #A6B03B;
	color: white;
	border: none;
	font-size: 15px;
	cursor: pointer;
}
.home_butoon {
	width: 270px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	margin-top: 62px;
}
/*=====================
Quote Блок с цытатой
=======================*/
.main-quote {
	width: 100%;
	height: 120px;
	left: 0px;
	top: 797px;
	background: #FAF9F5;
	padding: 40px 0;
}
.main-quote .container {
 	width: 800px;
}
.main-quote h2 {
	font-family: "Playfair Display";
	color: #495F1D;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
	margin: 0;
}
.main-quote h4 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #333333;
	text-align: center;
}
/*=================
About
===================*/
.main-about {
	height: 700px;
}
.about-competence {
	height: 300px;
	margin-bottom: 90px;
}
.main-about h3 {
	text-align: center;
	color: #495F1D;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
}
.about-description {
	margin-bottom: 50px;
}
.about-description p {
	pont-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	width: 805px;
	margin: 0 auto;
}
.competence-item {
	width: calc(370px - 106px);
	height: 225px;
	background: #F6F7EB;
	float: left;
	margin-right: 30px;
	padding: 30px 53px 45px;
}
.about-competente, .competence-item:last-child  {
	margin-right: 0;
}
.competence-item:hover {
	background: #A6B03B;
}
.item-img {
	width: 70px;
	height: 60px;
	margin: 0 auto 35px;
}
.item-img.technical-support {
	background: url("../img/about/technical-support.svg");
}
.item-img.partner {
	background: url("../img/about/partner.svg");
}
.item-img.leader {
	background: url("../img/about/leader.svg");
}
.competence-item:hover .item-img.technical-support {
	background: url("../img/about/technical-support-white.svg");
}
.competence-item:hover .item-img.partner {
	background: url("../img/about/partner-white.svg");
}
.competence-item:hover .item-img.leader {
	background: url("../img/about/leader-white.svg");
}
.competence-item h2 {
	text-transform: lowercase;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #495F1D;
}
.competence-item h2:first-letter {
	text-transform: uppercase;
}
.competence-item p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #333333;
}
.competence-item:hover h2 {
	color: #FFF;
	text-transform: uppercase;
}
.competence-item:hover p {
	color: #FFF;
}
/*=================
Customers
===================*/
.main-customers {
	width: 100%;
	height: 750px;
	background: #F6F7EB;
}
.customers-item {
	height: 750px;
	margin-top: 90px;
}
.customers-description {
	padding: 145px 0px 0px 0px;
}
.customers-item h2 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
	color: #495F1D;
	margin: 0;
    margin-bottom: 40px;
}
.customers-item p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	width: 473px;
	position: relative;
}
.customers-description button {
	width: 270px;
    height: 50px;
    background: #A6B03B;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 50px;
}
.customers-limon {
	position: absolute;
	left: 35%;
	width: 216px;
	height: 482px;
	background: url("../img/customers/limon.png");
	margin-top: 150px;
}
.customers-img {
	width: 720px;
	height: 750px;
	background: url("../img/customers/Mask-group.png");
	float: right;
	position: relative;
}
.success-stories {
	height: 750px;
}
.success-stories-img {
	width: 720px;
	height: 750px;
	background: url("../img/customers/Mask-group2.png");
	position: absolute;
	left: 0;
}
.success-stories-description {
	position: relative;
	float: right;
	width: 550px;
	padding: 145px 0px 0px 0px;
}
.success-stories h2 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
	color: #495F1D;
}
.success-stories p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
}
.learn-more {
	font-style: normal;
	font-weight: 700!important;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: #4F4F4F;
	border: none;
	background: #F6F7EB;
	margin: 0;
	padding: 0;
}
.success-stories-limon {
	position: absolute;
	margin-top: 500px;
    right: 0%;
    width: 200px;
    height: 250px;
    background: url("../img/customers/limon.png");
}
/*=====================
pexels
=======================*/
.pexels-img {
	width: 100%;
	height: 450px;
	background: url("../img/customers/pexels-lrm-exterior.png");
	position: absolute;
}
.limon-pexels {
	width: 100%;
	height: 195px;
	padding: 108px 0px 147px 0px;
}
.limon {
	float: left;
	width: 240px;
	height: 195px;
	margin-right: 225px;
}
.limon:last-child {
	margin-right: 0px;
}
.limon h2 {
	position: absolute;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 133px;
	color: #A6B03B;
	margin: 35px 0px 0px 80px;
}
.limon p {
	position: relative;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	float: right;
	margin-top: 190px;
	width: 167px;
}
.limon-pexels-img {
	background: url("../img/customers/limon-yello.svg");
	width: 192px;
	height: 195px;
	vertical-align: center;
	position: absolute;
}
/*===================
News
=====================*/
.news {
	width: 100%;
	height: 750px;
}
.news h2 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
 	text-align: center;
	color: #495F1D;
}
.news-description {
	width: 370px;
	height: 520px;
	background: #F6F7EB;
	margin-right: 30px;
	float: left;
}
.news-description:last-child {
	margin: 0;
}
.news-description h3 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: #4F4F4F;
	margin: 0 0 7px;
}
.news-item {
	margin-top: 50px;
	height: 500px;
}
.date {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #BDBDBD;
	margin: 0;
}
.news-description p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	margin: 7px 0px 30px 0px;
}
.item-desc {
	padding: 17px 31px 0px 35px;
}
.news-description button {
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #4F4F4F;
	float: right;
	background: #F6F7EB;
	border: none;
	cursor: pointer;
}
.news-description button div {
	float: right;
	margin: 0;
	padding: 0px 0px 5px 10px;
}
/*================
Testimonials
==================*/
.testimonials-content {
	width: 100%;
	height: 700px;
	background: #F6F7EB;
}
.testimonials-description {
	position: relative;
}
.testimonials-description-img {
	background: url("../img/slider/Frame.png");
	width: 800px;
	height: 470px;
	margin: 120px 0px 110px 0px;
	position: absolute;
	left: 0;
}
.testimonials h3 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 53px;
	color: #495F1D;
	top: 290px;
	position: relative;
}
.testimonials-content button {
	position: relative;
	color: #D1D5D9;
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	top: 215px;
	cursor: pointer;
}
.testimonials-content button .img {
	width: 30px;
	height: 30px;
}
/*===========================
Slider
===========================*/
.slder-content-img {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	position: absolute;
}
.circle-slides {
	width: 50px;
    padding: 0;
    height: 10px;
    margin-left: 58%;
    margin-right: auto;
    position: relative;
    top: 20px;
}
.circle-slides li {
	width: 10px;
	height: 10px;
	list-style: none;
	border-radius: 50%;
	background: #C4C4C4;
	float: left;
	position: relative;
	margin-right: 10px;
}
.circle-slides li:last-child {
	margin-right: 0;
}
.circle-slides .active {
	background: #A6B03B;
}
.circle-slides #over {
 	display: none;
}
.slides-button-left {
	position: absolute;
	margin-left: 230px;
}
.slides-button-right {
	float: right;
}

/*===========================
Slider END
===========================*/
.description-content {
	padding: 31px 34px 31px 34px;
	width: 306px;
	height: 405px;
	background: #FFF;
	margin-right: 30px;
	list-style: none;
	float: left;
}
.description-content:last-child {
	margin-right: 0px;
}
.description-content div img {
	width: 120px;
	height: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
.testimonials-description {
	float: right;
	margin-right: 50px;
}
.description-content h2 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	text-align: center;
	margin: 26px 0px 8px 0px;
}
.description-content p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	text-align: center;
}
.description-content .after {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	text-align: center;
}
/*================
frequently
==================*/
.frequently-stories {
	width: 100%;
	height: 750px;
}
.frequently-img {
	background: url("../img/frequently/Mask-group.png");
	width: 720px;
	height: 750px;
	position: absolute;
	left: 0;
}
.frequently-description {
	width: 569px;
	position: relative;
	float: right;
}
.frequently-description h2 {
	margin: 80px 0px 0px 0px;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
	color: #495F1D;
}
.frequently-text {
	margin: 55px 0px 0px 0px;
}
.frequently-text-content-active {
	width: 569px;
	height: 249px;
	background: #F6F7EB;
	padding: 18px 0px 0px 26px;
}
.frequently-text-content-active a {
	float: right;
	text-decoration: none;
	color: #828282;
	padding: 0px 20px 0px 0px;
}
.frequently-text-content-active h3 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	margin: 0;
}
.frequently-text-content-active p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #333333;
	width: 525px;
	padding: 38px 0px 0px 0px;
	margin: 0;
}
.frequently-text-content {
	width: 569px;
	height: 60px;
	background: #F6F7EB;
	padding: 18px 0px 0px 26px;
	margin-top: 10px;
}
.frequently-text-content a {
	float: right;
	text-decoration: none;
	color: #828282;
	padding: 0px 20px 0px 0px;
}
.frequently-text-content h3 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
}
/*================
Subscribe
==================*/
.subscribe {
	width: 100%;
	height: 400px;
	background: #F6F7EB;
}
.subscribe h2 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
    text-align: center;
	color: #495F1D;
	margin: 0;
	padding: 70px 0px 0px 0px;
}
.subscribe p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #333333;
}
.custom-input {
	float: left;
	margin-left: 30px;
	position: relative;
}
.custom-input:first-child {
	margin-left: 0;
}
.user:before {
	content: "";
	position: absolute;
	top: 0;
	left: 12px;
	right: 0;
	bottom: 0;
	margin: auto 0;
	width: 15px;
	height: 15px;
	background: url("../img/icons/user.svg");
	background-size: cover;
}
.email:before {
	content: "";
	position: absolute;
	top: 0;
	left: 12px;
	right: 0;
	bottom: 0;
	margin: auto 0;
	width: 15px;
	height: 15px;
	background: url("../img/icons/email.svg");
	background-size: cover;
}
.subscribe input[type=text] {
	font-size: 15px;
	padding-left: 40px;
}
.subscribe input[type=email] {
	font-size: 15px;
	padding-left: 40px;
}
.subscribe form {
	height: 50px;
	width: 100%;
}
.subscribe input {
	width: 235px;
	height: 45px;
	background: #FFF;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #BDBDBD;
	border: 1.5px solid #BDBDBD;
}
.subscribe button {
	width: 235px;
	height: 50px;
	background: #A6B03B;
	border: none;
	margin-left: 30px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
}
.subscribe h3 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #909090;
	text-align: center;
	padding: 40px 0px 60px 0px;
	margin: 0;
}
/*===============
Footer
=================*/
footer {
	width: 100%;
	height: 410px;
	background: #EFEED9;
}
.footer-block h1 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #919191;
	text-align: center;
	margin: 0;
	position: relative;
	top: 45px;
}
.footer-block {
	padding-top: 70px;
	width: 100%;
	height: 340px;
	position: relative;
}
.footer-description {
	width: 340px;
	height: 245px;
	position: relative;
	float: left;
	margin-left: 70px;
}
.quick {
	width: 335px;
}
.contact {
	width: 305px;
}
.footer-description:first-child {
	margin-left: 0;
}
.footer-description img {
	width: 250px;
	height: 78px;
}
.footer-description p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
}
.footer-description h3 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #495F1D;
	margin: 0;
	float: left;
	margin-right: 30px;
}
.footer-description h2 {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #495F1D;
	margin: 0;
}
.icon-footer {
	width: 35px;
	height: 35px;
	background: #FFF;
	float: left;
	margin-left: 10px;
}
.icon-footer img {
	width: 20px;
	height: 34px;
	margin-left: 7px;
}
.footer-description ul {
	padding: 0;
	position: relative;
	margin-right: 80px;
	float: left;
}
.footer-description ul:first-child {
	margin-left: 0;
}
.footer-description li {
	list-style-type: none;
	margin-bottom: 15px;
}
.footer-description a {
	text-decoration: none;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #333333;
}
.footer-description button {
	width: 100px;
	height: 35px;
	background: #EFEED9;
	border: 1px solid #909090;
}
.contact-icon {
	width: 20px;
	height: 20px;
}
.contact p {
	margin: 0;
	margin-bottom: 25px;
}
.contact h2 {
	margin-bottom: 24px;
}
.footer-number {
	width: 20px;
	height: 20px;
	background: url("../img/footer/number.svg");
	float: left;
	margin-right: 10px;
}
.footer-email {
	width: 20px;
	height: 20px;
	background: url("../img/footer/email.svg");
	float: left;
	margin-right: 10px;
}
.footer-geo {
	width: 20px;
	height: 20px;
	background: url("../img/footer/geo.svg");
	float: left;
	margin-right: 10px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */